@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height:max-content;
}

body{
  font-family: 'Poppins', sans-serif;
  background-image: url(liceu.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: fit-content;
  background-color: black;
  
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titlu{
  backdrop-filter: blur(5px);
  padding:25px;
  margin-top: 150px;
  border: solid 2px white;
  max-width: 1300px;
  width: 75%;
  
}

.titlu p{
  font-size: 3rem;
  font-weight: 700;
  color: aliceblue;
  text-align: center;
}

.info{
  backdrop-filter: blur(5px);
  padding:25px;
  margin-top: 150px;
  margin-bottom: 70px;
  border: solid 2px white;
}

.info p{
  font-size: 1rem;
  font-weight: 700;
  color: aliceblue;
}

.butoane{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 200;
}

.b-row button{
  flex-grow: 1;
  flex-basis: 0;
}

button{
  padding:25px 50px 25px 50px;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  max-width: 200;
  width: 100%;
}

button:hover{
  border-bottom: solid 3px white;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.credite{
  backdrop-filter: blur(3px);
  margin-top: 150px;
  margin-bottom: 50px;
  height:100%;
}

.credite p{
  font-size: 1rem;
  font-weight: 200;
  color: lightgray;
}

.istoric{
  font-size: 16px;
  font-weight: 500;
  color:white;
  backdrop-filter: blur(50px);
  padding: 25px;
  margin:50px;
  border: solid 2px white;
  text-align: justify;
}

.titl{
  color:white;
  padding:25px;
  font-size:25px;
  font-weight: 300px;
  background-color: black;
  border: solid 2px white;
}

.titld{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.imag{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  flex-direction: column;
}

.imag img{
  width: 250px;
  border: solid 3px black;
}

.imag p{
  color:white;
  font-size: 20px;
  background-color: black;
  width:250px;
  text-align: center;
}

.ist-p{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 100px;
  margin-left: 100px;
}

.ist-p p{
  max-width: 1200px;
  width: 100%;
}

.ist-p img{
  border:solid 3px white;
  width: 300px;
}

@media (max-width:1440px){
  body{
    background-position: center;
  }

  .b-row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .b-row button{
    max-width: 200px;
  }
}

@media (max-width:1080px){
  body{
    background-position:45% -200px;
    background-size: 2000px;
  }

  .titlu p{
    font-size:40px;
    text-align: center;
  }

  .info p{
    font-size: 30px;
  }

  .b-row{
    flex-direction: row;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .b-row button{
    width: 200px;
    font-size: 18px;
  }

  .credite p{
    flex-direction: row;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width:800px){

  .titlu p{
    font-size: 30px;
    text-align: center;
  }

  .info p{
    font-size: 20px;
    text-align: center;
  }

  .b-row{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    align-items:center;
    justify-content: space-evenly;
    
  }

  .b-row button{
  }

  .credite p{
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width:500px) {
  .titlu p{
    font-size: 30px;
    text-align: center;
  }

  .b-row{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
  }

  .credite p{
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}