@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-image: url(liceu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titlu{
  backdrop-filter: blur(5px);
  padding:25px;
  margin-top: 150px;
  border: solid 2px white;
}

.titlu p{
  font-size: 3rem;
  font-weight: 700;
  color: aliceblue;
}

.info{
  backdrop-filter: blur(5px);
  padding:25px;
  margin-top: 150px;
  margin-bottom: 70px;
  border: solid 2px white;
}

.info p{
  font-size: 1rem;
  font-weight: 700;
  color: aliceblue;
}

.butoane{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-row{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.b-row button{
flex-grow:1;
  flex-basis:0;
}

button{
  padding:25px 50px 25px 50px;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

button:hover{
  border-bottom: solid 3px white;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.credite{
  backdrop-filter: blur(3px);
  margin-top: 150px;
  margin-bottom: 50px;
}

.credite p{
  font-size: 1rem;
  font-weight: 200;
  color: lightgray;
}

.istoric{
  font-size: 16px;
  font-weight: 500;
  color:white;
  backdrop-filter: blur(15px);
  padding: 25px;
  margin:50px;
  border: solid 2px white;
  text-align: justify;
}

.titl{
  color:white;
  padding:25px;
  font-size:25px;
  font-weight: 300px;
  background-color: black;
  border: solid 2px white;
}

.titld{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.imag{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  flex-direction: column;
}

.imag img{
  width: 250px;
  border: solid 3px black;
}

.imag p{
  color:white;
  font-size: 20px;
  background-color: black;
  width:250px;
  text-align: center;
}
